* {
    margin: 0;
}

body {
    /* background: pink; */
    /* background: rgb(245, 141, 245); */
    /* background: #fed75a; */
    /* background-color: rgb(252, 114, 252); */
    color:white;
    margin:15px;
    border-radius: 50%;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    /* font-optical-sizing: auto; */
    /* font-weight: 100; */
    font-style: normal;
    /* font-variation-settings: "wdth" 100; */
}

.hero-section {
    /* background: skyblue; */
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("images/toyland.jpg");
    background-size: cover;
    border-radius: 10px;
    margin-bottom:10px;


}

.title,
.description {
    background-color: rgb(179, 93, 179);
    color: white;
    padding: 5px 10px;
}

.description {
    width: 550px;
    margin-top: 15px;
}

/* remarks: need to add margin on hero section div later */
/* =================================================================== */
.fav-places {
    /* background: skyblue; */
    height: 340px;
    text-align: center;
    border-radius: 1px;
    background-color: rgb(238, 170, 238);
}

.heading {
    padding-top: 25px;
}

.container {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.card {
    height: 240px;
    width: 250px;
    /* background: orangered; */
    /* background: #F28B82; */
    margin-bottom: 20px;
}

.places-desc {
    padding-top: 15px;
    margin: 0 auto;
    width: 200px;
}

.places-imgs {
    width: 100px;
    height: 100px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
    margin: 15px auto 20px auto;
}

/* ======================================================================== */
.guide-info {
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-guide {
    width: 400px;
    height: 200px;
    background: white;

    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(179, 93, 179);
    border-right: 2px solid rgb(179, 93, 179);

}

.guide-img {
    width: 160px;
    height: 140px;

}

.info {
    width: 180px;
    height: 170px;
    text-align: center;
    /* background-color: skyblue; */
    /* background: #fed75a; */
    background-color: rgb(179, 93, 179);
}

.guide-title {
    padding-top: 10px;
}

.guide-desc {
    padding: 10px;
}