* {
    margin: 0;
}

body {
    /* background: pink; */
    /* background: rgb(245, 141, 245); */
    /* background: #fed75a; */
    /* background-color: rgb(252, 114, 252); */
    /* color:white; */
    color: #fce189;
    /* margin: 15px; */
    border-radius: 50%;
    text-align: center;
    font-family: "DynaPuff", system-ui;
    /* font-optical-sizing: auto; */
    /* font-weight: 100; */
    font-style: normal;
    /* font-variation-settings: "wdth" 100; */
}

.hero-section {
    /* background: skyblue; */
    height: 270px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("images/toyland.jpg");
    background-size: cover;
    border-radius: 10px;
    /* margin-bottom: 10px; */


}

.title,
.description {
    background-color: rgb(179, 93, 179);
    color: white;
    padding: 5px 10px;
}

.description {
    width: 550px;
    margin-top: 15px;
}

/* remarks: need to add margin on hero section div later */
/* =================================================================== */
.fav-places {
    height: 350px;
    background: #8490e5;
    color: #ffe695;
    /* text-align: center; */
    /* border-radius: 1px; */
}

.heading {
    padding-top: 20px;
    color: #ffdb64;
    text-shadow: 0 0 1px black;
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    height: 255px;
    width: 270px;
}

.places-title {
    color: #f1d67c;
    text-shadow: 0 0 2px black;
}

.places-desc {
    padding-top: 15px;
    margin: 0 auto;
    width: 200px;
    color:#ff8f83;
    color: #f3dc8e;
    text-shadow: 0 0 1px #ff8f83;
}

.places-imgs {
    width: 100px;
    height: 100px;
    background: white;
    /* border: 1px solid black; */
    border-radius: 50%;
    margin: 15px auto 20px auto;
}

/* ======================================================================== */
/* this is the third div that contains the information of our guide */
#guide-info {
    background-color: white;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* this is the div that contains image and text part related to our guide */
#guide-info-card {
    width: 420px;
    height: 200px;
    background-color: #ffe695;
    /* background: #ffcac4; --light-pink-shade*/
    /* color: #ff8f83;  dark-pink-shade */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-left: 5px solid #ffd858;
    border-right: 5px solid #ffd858;
}

.guide-img {
    width: 160px;
    height: 150px;
}

.info {
    width: 250px;
    height: 170px;
    /* color:#fad14b;   yellow-shade */
    /* background: #fed75a;  yellow shades */
    /* font-size: 15px; */
    text-align: center;
    color: #ff8f83;
}

.guide-title {
    padding-top: 10px;
}

.about-place {
    padding: 10px;
    color: #5864ac;
}

.guide-name {
    padding-bottom: 10px;
}