* {
    margin: 0;
}

body {
    background: pink;
    text-align: center;
}

.hero-section {
    background: skyblue;
    height: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url("images/toyland.jpg");
    background-size: cover;

}

.title,
.description {
    background-color: rgb(179, 93, 179);
    color: white;
    padding: 5px 10px;
}

.description {
    width: 550px;
    margin-top: 15px;
}
/* remarks: need to add margin on hero section div later */
/* =================================================================== */
.fav-places {
    background: skyblue;
    height: 300px;
    text-align: center;
}
.heading{
    padding-top: 25px;
}
.container{
    margin-top:15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.card{
    height: 200px;
    width: 250px;
    background: orangered;
}



/* ======================================================================== */